[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[user]
	name = Lumen Yang
	email = lumen.yang@lumeny.io

[pull]
  rebase = true
  ff = only

[rebase]
    autoStash = true
[credential]
	helper = "!f() { /home/yang/.vscode-server/bin/252e5463d60e63238250799aef7375787f68b4ee/node /tmp/vscode-remote-containers-ecd25e60-08f1-468a-8cfc-72cb9a9473b5.js git-credential-helper $*; }; f"
