obsidian/
microsoft-edge-beta/
fluent-reader/
Code/
LarkShell/
microsoft-edge-beta/
chromium/
spotify/
Xmind/
Logseq/
Slack/
libreoffice/
Vulcan/
baidunetdisk/
draw.io/
Lepton/
manjaro
massCode
matray
menus/applications-merged
neofetch
nvim_back
octopi
onlyoffice
pamac
pulse
qBittorrent
qv2ray
session
shadowsocks-qt5
syncthing
systemd/user/default.target.wants
vlc
whatsapp-nativefier-d40211
wofi
xournalpp
xsettingsd
zoomus.conf
xdg-desktop-portal-kderc
syncplay.ini
systemmonitorrc
systemsettingsrc
ibus/bus
gtk-4.0
gtk-3.0/colors.css
gtk-3.0/gtk.css
gtk-3.0/settings.ini
gtk-3.0
google-chrome/chrome_shutdown_ms.txt
google-chrome/Variations
google-chrome/Local State
google-chrome/Last Version
google-chrome/First Run
google-chrome/pnacl/0.57.44.2492
google-chrome/hyphen-data/109.0.5399.3
google-chrome/WidevineCdm
google-chrome/ZxcvbnData/1
google-chrome/UrlParamClassifications/2022.11.1.1
google-chrome/Subresource Filter
google-chrome/SafetyTips/2884
google-chrome/ShaderCache
google-chrome/BrowserMetrics-spare.pma
google-chrome/SSLErrorAssistant/7
google-chrome/Safe Browsing
google-chrome/OptimizationHints/364
google-chrome/OriginTrials/1.0.0.13
google-chrome/PKIMetadata/396
google-chrome/OnDeviceHeadSuggestModel/20221027.485180575
google-chrome/FileTypePolicies/54
google-chrome/Dictionaries
google-chrome/FirstPartySetsPreloaded/2022.2.15.1
google-chrome/GrShaderCache
google-chrome/DesktopSharingHub/20220505
google-chrome/Default/Sync Data/LevelDB
google-chrome/Default/Sync Extension Settings/cimiefiiaegbelhefglklhhakcgmhkai
google-chrome/Default/Web Applications/Manifest Resources
google-chrome/Default/commerce_subscription_db
google-chrome/Default/coupon_db
google-chrome/Default/Local Storage/leveldb
google-chrome/Default/Segmentation Platform
google-chrome/Default/Session Storage
google-chrome/Default/Sessions
google-chrome/Default/Site Characteristics Database
google-chrome/Default/Storage/ext/nmmhkkegccagdldgiimedpiccmgmieda/def
google-chrome/Default/optimization_guide_hint_cache_store
google-chrome/Default/optimization_guide_model_metadata_store
google-chrome/Default/optimization_guide_prediction_model_downloads
google-chrome/Default/shared_proto_db
google-chrome/Default/GCM Store/Encryption
google-chrome/Default/GPUCache
google-chrome/Default/Local Extension Settings/ghbmnnjooekpmoecnnnilnnbdlolhkhi
google-chrome/Default/Feature Engagement Tracker
google-chrome
kdeconnect
kdedefaults
keepassxc
khtml
libaccounts-glib
lvim.old
glib-2.0/settings
fontconfig
fluent-reader.b/Storage/ext/fake-host/def/GPUCache
fluent-reader.b/WebStorage
fluent-reader.b/databases
fluent-reader.b
flameshot
fcitx/dbus
fcitx5
eduvpn
dconf
evolution/sources
clash
clash-verge
cef_user_data/Dictionaries
autostart
akonadi
XMind
Unknown Organization
TabNine
Syncplay
Optimus Manager
OpenTabletDriver
Nextcloud
Mathpix
Kitware
KDE
JetBrains
webengineurlinterceptoradblockrc
trashrc
mimeapps.list
kxkbrc
okularpartrc
okularrc
kwalletrc
kwalletmanager5rc
plasma-nm
plasma-localerc
partitionmanagerrc
soffice.binrc
shadowsocks-qt5rc
specialmailcollectionsrc
spectaclerc
user-dirs.dirs
user-dirs.locale
wacomtablet-kderc
touchpadxlibinputrc
sddmthemeinstallerrc
powermanagementprofilesrc
powerdevilrc
plasmawindowedrc
plasmawindowed-appletsrc
plasmashellrc
plasmarc
plasmanotifyrc
plasma-org.kde.plasma.desktop-appletsrc
phishingurlrc
ktimezonedrc
ksmserverrc
kscreenlockerrc
konsolesshconfig
konsolerc
konquerorrc
kmixrc
knfsshare
kmenueditrc
kmixctrlrc
kmailsearchindexingrc
kmail2rc
htop
.gsd-keyboard.settings-ported
KeePassXCrc
QtProject.conf
Trolltech.conf
akonadi-firstrunrc
akonadi-migrationrc
akonadi_akonotes_resource_0rc
akonadi_contacts_resource_0rc
akonadi_ical_resource_0rc
akonadi_ical_resource_2rc
akonadi_indexing_agentrc
akonadi_maildir_resource_0rc
akregatorrc
appimagelauncher.cfg
arkrc
baloofileinformationrc
baloofilerc
bluedevilglobalrc
defaultcalendarrc
discoverrc
dolphinrc
drkonqirc
droidcam
emaildefaults
emailidentities
filelightrc
flameshotrc
gnome-initial-setup-done
gtkrc
gtkrc-2.0
gwenviewrc
importwizardrc
kactivitymanagerd-statsrc
kactivitymanagerdrc
kalarmrc
kalarmresources
kalendaracrc
kalendarrc
katemetainfos
katerc
kateschemarc
katevirc
kcminputrc
kconf_updaterc
kded5rc
kded_device_automounterrc
kdeglobals
kdynamicwallpaperrc
keditfiletyperc
kfontinstuirc
kgammarc
kglobalshortcutsrc
khelpcenterrc
khotkeysrc
kinfocenterrc
kiorc
kioslaverc
klipperrc
Element
catkin/verb_aliases
determined
haruna
Optimus Manager Qtrc
akonadi_ical_resource_1rc
breezerc
harunarc
kde_backup.tar.gz
rvizrc
klipperrc
kde.org
lazygit/state.yml
unity3d/DefaultCompany/VNAV_2019
xremap
lazydocker
nvtop
EasyConnect
PlasmaDiscoverUpdates
calibre/viewer
lvim_base
BreakTimer
lapce-stable
nvim/plugin/packer_compiled.lua
zoom.conf
ros.org
konq_history
bottom
kamosorc
dragonplayerrc
pudb
libvirt/storage
calibre/calibre/conversion
calibre/calibre/fonts
calibre/calibre/.owncloudsync.log
calibre/calibre/.sync-exclude.lst
calibre/calibre/viewer/._sync_b7fe1f963a83.db
calibre/calibre/viewer/._sync_b7fe1f963a83.db-shm
calibre/calibre/viewer/._sync_b7fe1f963a83.db-wal
calibre/calibre/viewer/.owncloudsync.log
calibre/calibre/viewer/.sync_b7fe1f963a83.db
calibre/calibre/viewer/.sync_b7fe1f963a83.db-shm
calibre/calibre/viewer/.sync_b7fe1f963a83.db-wal
unity3d/DefaultCompany/VNAV_2018
vifm/vifminfo.json
discord
clash_win
pavucontrol.ini
nvim/lua/lvim
BreakTimer
zsh/alias.zsh.zwc
zsh/.p10k.zsh
ranger/plugins/__pycache__
zsh/.zcompdump
zsh/.zshrc.zwc
zsh/device.zsh.zwc
zsh/functions.zsh.zwc
zsh/keys.zsh.zwc
zsh/plugins.zsh.zwc
zsh/source.zsh.zwc
zsh/zoxide.zsh.zwc
install/eget
install/eget.sh
*.zwc
kitty/Wallpapers/*.png
